slurm*
*sbatch*
FASTQ_files/
*.gz
*.aux
*summary.log
*_insertlengths.txt
*_makealignments_summary.*
*_R1mismatches.*
*_R2mismatches.*
parsesummary_codontypes.pdf
parsesummary_codonnmuts.pdf
*_parsesummary.*
*_nmutspercodon-dist.pdf
*_syn-ns-dist.pdf
p1_entropy_rsa_correlationplot.pdf
p1_site_entropy_plot.pdf
