FASTQ_files
MCMC_traces
preference_plots
slurm*
*sbatch*
*.gz
*.aux
*summary.log
*_insertlengths.txt
*_makealignments_summary.*
*_R1mismatches.*
*_R2mismatches.*
parsesummary_codontypes.pdf
parsesummary_codonnmuts.pdf
*_parsesummary.*
*_nmutspercodon-dist.pdf
*_syn-ns-dist.pdf
*.DS_Store
._*
*site_entropy_plot.pdf
*entropy_rsa_correlationplot.pdf
*.swp
